langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
bs4
faiss-cpu
pypdf
arxiv
pymupdf
wikipedia
lxml
langchain-huggingface
langchain-groq
langgraph
langgraph-cli[inmem]
sqlalchemy
mysql-connector-python
streamlit
openai
pytesseract
pillow
tqdm